################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ool_service_user/ool_service_user/.vs/ool_service_user/v16
/ool_service_user/ool_service_user/ool_service_user/bin/Debug/netcoreapp2.2
/ool_service_user/ool_service_user/ool_service_user/obj
/.vs/ProjectOutOfLife/v16
/ool_service_people/ool_service_people/bin/Debug/netcoreapp2.2
/ool_service_people/ool_service_people/obj
/.vs/ProjectOutOfLife/config
/ool_service_people/.vs/ool_service_people/v16
/ool_service_people/.vs/ool_service_people
/ool_service_user/ool_service_user/.vs/ool_service_user/DesignTimeBuild
